<ng-container *ngIf="!dashboardStore.loading">
    <!-- Devices/Signs widgets -->
    <div class="row">
        <div class="col">
            <!-- Devices -->
            <div class="card detail-card pull-block-right">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-3 text-center">
                            <fa-icon class="detail-icon" [icon]="icons.devices"></fa-icon>
                        </div>
                        <div class="col text-center">
                            <h5>{{ dashboardStore.info.widgets.devices.online }}/{{ dashboardStore.info.widgets.devices.total }} Device(s) Online</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <!-- Alerts -->
            <div class="card detail-card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-3 text-center">
                            <fa-icon class="detail-icon" [icon]="icons.alerts"></fa-icon>
                        </div>
                        <div class="col text-center">
                            <h5>{{ dashboardStore.info.widgets.recentAlerts }} Recent Alert(s)</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Latest Alerts Component -->
    <div class="mt-2">
        <app-alert-table
            (removedAlertEvent)="onAlertRemoval($event)"
            [alerts]="dashboardStore.info.logs"
        ></app-alert-table>
    </div>
</ng-container>

<app-spinner *ngIf="dashboardStore.loading"></app-spinner>
