<html>
  <head>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Malayalam&family=Bangers&family=Patrick+Hand&family=Permanent+Marker&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <style>
      body { background-image: url('memphis-mini.webp')}
      h1 { font-family: 'Permanent Marker', cursive; font-size: 3rem; text-align: center; }
      h2 { font-family: 'Patrick Hand', cursive; }
      span.desc { font-family: 'Anek Malayalam', sans-serif; font-size: 1.25rem }
      span.price { font-family: 'Bangers', cursive; margin-top: 1.5rem; font-size: 2.5rem; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row mt-5">
        <div class="col">
          <h1>Burgers</h1>
          <div class="row align-items-center"><div class="col-8"><h2>Hamburger</h2><span class="desc">Bun and meat</span></div><div class="col-4"><span class="price">$6.99</span></div></div>
          <div class="row align-items-center"><div class="col-8"><h2>Cheeseburger</h2><span class="desc">Bun, meat, and cheese</span></div><div class="col-4"><span class="price">$7.99</span></div></div>
          <div class="row align-items-center"><div class="col-8"><h2>Deluxe</h2><span class="desc">Bun, meat, cheese, and lettuce</span></div><div class="col-4"><span class="price">$8.99</span></div></div>
          <div class="row align-items-center"><div class="col-8"><h2>Double Stack</h2><span class="desc">Bun, two pieces of meat, cheese and lettuce</span></div><div class="col-4"><span class="price">$9.99</span></div></div>
          <h1 class="mt-5">Sandwiches</h1>
          <div class="row align-items-center"><div class="col-8"><h2>BLT</h2><span class="desc">Bacon, lettuce, tomato</span></div><div class="col-4"><span class="price">$5.99</span></div></div>
          <div class="row align-items-center"><div class="col-8"><h2>Deluxe BLT</h2><span class="desc">Bacon, extra lettuce, tomato</span></div><div class="col-4"><span class="price">$6.99</span></div></div>
          <div class="row align-items-center"><div class="col-8"><h2>Philly Cheesesteak</h2><span class="desc">Steak, cheese, onions, peppers</span></div><div class="col-4"><span class="price">$9.99</span></div></div>
          <div class="row align-items-center"><div class="col-8"><h2>Fried Chicken</h2><span class="desc">Fried chicken, sauce, pickles</span></div><div class="col-4"><span class="price">$8.99</span></div></div>
        </div>
        <div class="col">
          <h1>WINGS</h1>
          <div class="row align-items-center"><div class="col-8"><h2>Buffalo</h2><span class="desc">House buffalo sauce</span></div><div class="col-4"><span class="price">$9.99</span></div></div>
          <div class="row align-items-center"><div class="col-8"><h2>Mild</h2><span class="desc">Tangy spicy sauce</span></div><div class="col-4"><span class="price">$9.99</span></div></div>
          <div class="row align-items-center"><div class="col-8"><h2>Teriyaki</h2><span class="desc">Traditional teriyaki sauce, or served dry</span></div><div class="col-4"><span class="price">$10.99</span></div></div>
          <div class="row align-items-center"><div class="col-8"><h2>Garlic</h2><span class="desc">Garlic and herbs sauce</span></div><div class="col-4"><span class="price">$9.99</span></div></div>
          <h1 class="mt-5">KIDS</h1>
          <div class="row align-items-center"><div class="col-8"><h2>Chicken Tenders</h2><span class="desc">Chicken breaded and fried</span></div><div class="col-4"><span class="price">$7.99</span></div></div>
          <div class="row align-items-center"><div class="col-8"><h2>Pizza</h2><span class="desc">Pepperoni or sausage</span></div><div class="col-4"><span class="price">$7.99</span></div></div>
          <div class="row align-items-center"><div class="col-8"><h2>Grilled Cheese</h2><span class="desc">4-cheese melt</span></div><div class="col-4"><span class="price">$5.99</span></div></div>
          <div class="row align-items-center"><div class="col-8"><h2>Mac & Cheese</h2><span class="desc">Macaroni in a cheese sauce</span></div><div class="col-4"><span class="price">$6.99</span></div></div>
        </div>
        <div class="col">
          <h1>DRINKS</h1>
          <div class="row align-items-center"><div class="col-8"><h2>Sodas</h2></div><div class="col-4"><span class="price">$2.99</span></div></div>
          <div class="row align-items-center"><div class="col-8"><h2>Special Teas</h2><span class="desc">Peach, Raspberry, Strawberry</span></div><div class="col-4"><span class="price">$3.99</span></div></div>
          <h1 class="mt-5">SHAKES</h1>
          <div class="row align-items-center"><div class="col-8"><h2>Milkshake</h2></div><div class="col-4"><span class="price">$5.99</span></div></div>
          <div class="row align-items-center"><div class="col-8"><h2>Oreo</h2></div><div class="col-4"><span class="price">$5.99</span></div></div>
          <h1 class="mt-5">SIDES</h1>
          <div class="row align-items-center"><div class="col-8"><h2>French Fries</h2></div><div class="col-4"><span class="price">$3.99</span></div></div>
          <div class="row align-items-center"><div class="col-8"><h2>Cheese Sticks</h2><span class="desc">Mozzarella lightly fried</span></div><div class="col-4"><span class="price">$4.99</span></div></div>
        </div>
      </div>
    </div>
  </body>
</html>